@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  // iPhone5
  .md-display-6 {
    font-size: 1.3rem;
  }
  .wording {
    width: 100px;
    height: 48px !important;
  }
  .md-button-content {
    font-size: 1rem;
  }
  .slogan span {
    font-size: 1.8rem;
  }
}